.chatList {
  flex: 1;
  overflow: auto;

  .search {
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 20px;

    .searchBar {
      flex: 1;
      background-color: rgba(17, 25, 40, 0.5);
      display: flex;
      align-items: center;
      gap: 20px;
      border-radius: 10px;
      padding: 10px;

      input {
        background-color: transparent;
        border: none;
        outline: none;
        color: white;
        flex: 1;
      }

      img {
        width: 15px;
        height: 15px;
        padding: 0;
        margin-right: 0;
        gap: 0px;
      }
    }

    .add {
      width: 36px;
      height: 36px;
      background-color: rgba(17, 25, 40, 0.5);
      padding: 10px;
      border-radius: 10px;
      cursor: pointer;
    }
  }

  .item {
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 20px;
    cursor: pointer;
    border-bottom: 1px solid #dddddd35;

    img {
      width: 50px;
      height: 50px;
      border-radius: 50%;
      object-fit: cover;
    }

    .texts {
      display: flex;
      flex-direction: column;
      gap: 10px;

      span {
        font-weight: 500;
      }

      p {
        font-size: 14px;
        font-weight: 300;
      }
    }
  }
}

@media (max-width : 1350px) {
    .searchBar{
      input{
        width: 25%;
      }
  }
}
@media (max-width : 880px) {
  .chatList{
    .search{
      gap: 10px;

        .searchBar{
          input{
            padding: 0;
          }
          img{
            width: 10px;
            height: 10px;
          }
        }
    }

    .item{
      gap: 10px;

      img{
        width: 30px;
        height: 30px;
      }
      .texts{
        gap: 0px;
      }
    }
  }
}
@media (max-width : 425px) {
  .chatList{
    .search{
      padding-left: 5px;
      padding-right: 5px;
      .searchBar{
        gap: 5px;
      }
    }
  }
      
  
}